.btn {
  display: flex;
  align-items: center;
  padding: 0;

  background-color: transparent;
  border: none;

  cursor: pointer;
}

// TODO fix duplicate
.text {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #bdbdbd;
}
