$title-text-color: #000000;
$primary-text-color: #A6A6A6;
$secondary-text-color: #3d3d3d;

$accent-color: #24CCA7;
$accent-color2: #4A56E2;
$accent-color3: #ffebee;


$primary-bg-color: rgba(255, 255, 255, 0.4);;
$secondary-bg-color: turquoise;

$button-text-color: #3d3d3d;


$primary-font-family: Roboto, sans-serif;
$header-font-family: Neon;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$transition-duration: 250ms;
