.loginPage {
  display: flex;
  padding-top: 136px;
  padding-bottom: 116px;

  .logo {
    display: block;
  }

  .img {
    text-align: center;
  }

  .financeApp {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 31px;
  }
}
