.homeTab {
  transition: 1.5s;
  animation: homeTab 1s 1;
  animation-fill-mode: forwards;
  animation-delay: 0s;

  @keyframes homeTab {
    0% {
      opacity: 0;
      transform: translateX(2%);
    }
    100% {
      opacity: 1;
    }
  }

  @include for-size(max-tablet) {
    display: none;
  }
  @include for-size(tablet) {
    // padding: 40px 40px 0 40px;
  }
  @include for-size(desktop) {
    // padding: 46px 85px 0 30px;
    padding-left: 30px;
  }
}

.table {
  @include for-size(max-tablet) {
    display: none;
  }
  @include for-size(tablet) {
    width: 688px;
    // margin: 40px 40px 0 40px;
    border-collapse: collapse;
    text-align: left;
  }
  @include for-size(desktop) {
    width: 700px;
    // margin: 46px 85px 0 30px;
  }

  .tableHeader {
    background-color: $table-bg-color;

    .rowHeader {
      padding-top: 20px;
      padding-bottom: 20px;
      font-family: $primary-font-family;
      font-style: normal;
      font-weight: bold;
      font-size: 18px;
      line-height: 27px;
      color: $title-text-color;
    }

    .rowHeader:first-child {
      padding-left: 20px;
      border-radius: 30px 0 0 30px;
    }
    .rowHeader:last-child {
      padding-right: 20px;
      border-radius: 0 30px 30px 0;
      text-align: right;
    }
  }
}
::-webkit-scrollbar {
  display: none;
}

.row {
  padding-left: 12px;
  padding-right: 12px;
}
.row:not(:last-child) {
  border-bottom: 1px solid $table-border-color;
}
.row .cellBody {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $primary-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  color: $title-text-color;
}
.row .cellBody:first-child {
  padding-left: 20px;
}
.row .cellBody:last-child {
  padding-right: 20px;
  text-align: right;
}

.expenses .sum {
  font-weight: bold;
  color: $accent-color5;
  text-align: center;
}
.income .sum {
  font-weight: bold;
  color: $accent-color;
  text-align: center;
}

/* Mobile */

.tableMobile {
  width: 280px;
  margin: 30px 20px 0 20px;

  .sectionMobile {
    border-radius: 30px 30px 30px 30px;

    .rowMobile {
      display: flex;
      justify-content: space-between;
      background-color: $table-bg-color;
      border-bottom: 1px solid $table-border-color;
      font-family: $primary-font-family;
      font-style: normal;
      font-size: 14px;
      line-height: 27px;
      color: $title-text-color;
      padding: 8px 10px 8px 10px;

      .cellValue {
        text-align: right;
      }
    }
    .rowMobile:first-child {
      border-radius: 10px 10px 0px 0px;
    }
    .rowMobile:last-child {
      border-radius: 0px 0px 10px 10px;
      margin-bottom: 10px;
    }
  }
  .expensesM {
    .sum {
      font-weight: bold;
      color: $accent-color5;
    }
    .rowMobile {
      border-left: 5px solid $accent-color5;
    }
  }
  .incomeM {
    .sum {
      font-weight: bold;
      color: $accent-color;
    }

    .rowMobile {
      border-left: 5px solid $accent-color;
    }
  }
  @include for-size(tablet) {
    display: none;
  }
}

// for first visit

.alpacaText > p {
  font-family: $secondary-font-family;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: black;
  text-align: center;
}

.alpacatImg {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;

  width: 150px;
}
