.hometab {
  width: 700px;
  margin-left: 60px;
}

// th,tr,td{
//   border: 1px solid green;
// }
.thead {
  border: 1px solid red;
  border-radius: 30px;
}

.table {
  border-collapse: collapse;
  border: 1px solid tomato;
  border-radius: 30px;
}
