.form {
  width: 540px;

  padding-right: 65px;
  padding-left: 65px;
  padding-top: 40px;
  padding-bottom: 60px;
  background-color: white;
  border-radius: 20px;

  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .title {
    font-family: $secondary-font-family;
    display: inline;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    color: $title-text-color;
  }

  .img {
    width: 40px;
    height: 40px;
    display: inline;
    margin-right: 20px;
  }

  .MuiInputBase-input.MuiInputLabel-root {
    width: 100%;
  }

  .MuiInputLabel-root {
    font-family: $primary-font-family;
    font-weight: 400;
    font-size: 18px;
    color: $secondary-text-color;
    width: 100%;
  }

  .MuiSvgIcon-root {
    color: $secondary-text-color;
  }

  .textField {
    margin-top: 34px;
  }
  .btn-form {
    margin-top: 34px;
    width: 300px;
    padding: 13px;
    border: 1px solid $accent-color2;
    border-radius: 20px;
    color: $accent-color2;
    background-color: white;

    font-family: 'Circe', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 26, 53px;
    letter-spacing: 2px;
  }

  .btn-form.MuiButton-root:hover {
    background-color: $accent-color;
    border: 1px solid $accent-color;
    color: white;
    transition: $timing-function;
  }

  .MuiFormLabel-root.Mui-focused {
    color: $accent-color;
  }

  .MuiInput-underline:after {
    border-bottom: 2px solid $accent-color;
  }
}
