.titleStatistic {
  font-family: $secondary-font-family;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.5;
  color: $title-text-color;

  // для мобилки
  margin-bottom: 10px;

  @include for-size(tablet) {
    // для планшета и для  десктоп
    margin-bottom: 20px;
  }
}

.diagrmTab {
  @include for-size(tablet) {
    // для планшета и для  десктоп
    display: flex;
  }
}
