.modalContainer {
  position: absolute;
  background-color: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  // height: 600px;
  border-radius: 20px;
  padding-top: 20px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    width: 540px;
    height: 540px;
  }
}

h2.title {
  text-align: center;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  color: #000000;

  @media screen and (min-width: 768px) {
    font-size: 30px;
    line-height: 45px;
  }
  // margin-bottom: 40px;
}

form.addTransactionForm {
  width: 280px;
  padding-top: 40px;
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;

  @media screen and (min-width: 768px) {
    width: 540px;
    padding-right: 65px;
    padding-left: 65px;
    padding-top: 40px;
    padding-bottom: 60px;
    background-color: white;
    border-radius: 20px;
  }
}

.radioBtn {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.green {
  color: #24cca7;
}

.red {
  color: #ff6596;
}

.grey {
  color: #e0e0e0;
}

.cetegory {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.input-comments {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  // margin-bottom: 50px;

  @media screen and (min-width: 768px) {
    width: 300px;
  }
}

.cancelBtn {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.data-money-form {
  // padding: 0 30px;
  // margin-bottom: 40px;

  @media screen and (min-width: 768px) and (max-width: 1279px) {
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    margin-bottom: 40px;
  }
}

.money-input {
  display: block;
  width: 280px;
  border: 1px solid #e0e0e0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  align-content: flex-start;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    width: 190px;
    margin-right: 30px;
  }
}
.money-input[placeholder] {
  text-align: center;
}

.date-input {
  display: block;
  width: 280px;
  background-color: transparent;
  border: 1px solid #e0e0e0;
  border-top-color: transparent;
  border-right-color: transparent;
  border-left-color: transparent;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    width: 190px;
  }
}

.modal-form-btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  margin-top: 40px;
}

.btn-form {
  width: 700px;
  height: 50px;

  margin-top: 20px;
  padding-top: 16px;
  padding-bottom: 13px;

  border: 1px solid $accent-color2;
  border-radius: 20px;
  background-color: white;

  color: $accent-color2;
  font-family: Circe;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    width: 280px;
  }
}

.btn-form.MuiButton-root:hover {
  background-color: $accent-color;
  border: 1px solid $accent-color;
  color: white;
  transition: $timing-function;
}
