.header {
  width: 100%;
  background-color: white;
  z-index: 2;

  .headerContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo,
  .userInfo {
    display: flex;
    align-items: center;
  }

  .title {
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 1.5;
    color: #000000;
  }

  .img {
    width: 40px;
    height: 40px;
  }

  .name {
    margin-right: 14px;
    margin-left: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #bdbdbd;
  }

  .decor {
    margin-right: 14px;

    width: 0;
    height: 30px;
    border: 1px solid #bdbdbd;
  }

  .icon {
    margin-right: 10px;

    fill: #bdbdbd;
  }

  .btn {
    padding: 0;

    background-color: transparent;
    border: none;

    cursor: pointer;
  }

  // TODO fix duplicate
  .text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #bdbdbd;
  }
}
