.tableCurrency {
  display: block;
  width: 350px;
  background-color: $accent-color4;
  border-radius: 30px;
}

@include for-size(tablet) {
  width: 334px;
  height: 334px;
}

@include for-size(desktop) {
  width: 350px;
  height: 350px;
}

.tableHead {
  display: flex;
  font-family: $primary-font-family;
  padding-left: 30px;
  justify-content: space-evenly;
}

.tableHeaderTitle {
  padding-top: 17px;
  padding-bottom: 16px;
  margin-right: 49px;

  color: white;
  font-size: 18px;
  font-weight: 700;
  line-height: 27px;
}

.rowTitle {
  color: white;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  padding-bottom: 10px;
}

.loaderContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
