.mainContainer {
  width: 280px;
  height: 80px;
  border-radius: 30px;
  background-color: tomato;
  padding-top: 8px;
  padding-bottom: 13.5px;
}

.title {
  font-size: 12px;
  line-height: 18px;
  margin-left: 30px;
}

.balanceContainer {
  margin-left: 30px;
}

.unicode {
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}

.balance {
  margin-left: 5px;
  font-size: 30px;
  line-height: 45px;
  color: #000000;
}
