.balance-container {
  width: 350px;

  padding-top: 8px;
  padding-bottom: 14px;
  padding-left: 40px;

  border-radius: 30px;
  background-color: silver;

  .title {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    text-transform: uppercase;
    color: #a6a6a6;
  }

  .unicode {
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }

  .balance {
    margin-left: 5px;
    font-size: 30px;
    line-height: 45px;
    color: #000000;
  }
}
