.mainPage {
  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
  }

  .left {
    left: 0;
    background-color: #e5e5e5;
    background-size: cover;
    background-image: url('../../images/Ellipse1.png');
  }

  .right {
    right: 0;
    background: rgba(158, 158, 158, 0.8);
    background-size: cover;
    backdrop-filter: blur(50px);
    background-image: url('../../images/Rectangle4.png');

    padding-top: 52px;
    padding-right: 85px;
    padding-bottom: 52px;
    padding-left: 95px;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    //text-align: center;
  }

  .financeApp {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-top: 31px;
  }
}
